
  <nav class="top-bar" data-topbar role="navigation" >
    <ul class="title-area">
      <div class="name"></div>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <a href="#" id="xiri-brand" class="xiri-brand name">     
        <%= image_tag("xiri_logo.svg", :alt => "XIRI Logo") %>
      </a>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class=""><a href="#guy-pointing">HOME</a></li>
        <li class=""><a href="#ourwork-container">WORK</a></li>
        <li class=""><a href="#process-container" >PROCESS</a></li>
        <li class=""><a href="#clients-container">CLIENTS</a></li>
        <li class=""><a href="#contact-container">CONTACT</a></li>   
      </ul>
    </section>
  </nav><!-- /.top-bar -->
