    <div class="name">
      <a href="#" id="xiri-brand" class="xiri-brand">     
        <%= image_tag("xiri_logo.svg", :alt => "XIRI Logo") %>
      </a>
    </div>

    <nav class="top-bar sticky" data-topbar role="navigation" >
      <ul class="title-area">
        <li class="name">
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class=""><a href="#">HOME</a></li>
          <li class=""><a href="#work">WORK</a></li>
          <li class=""><a href="#strategy" >STRATEGY</a></li>
          <li class=""><a href="#clients">CLIENTS</a></li>
          <li class=""><a href="#contact">CONTACT</a></li>   
        </ul>
      </section>
    </nav><!-- /.top-bar -->