/*
     _    ____   ___  _   _ _____ 
    / \  | __ ) / _ \| | | |_   _|
   / _ \ |  _ \| | | | | | | | |  
  / ___ \| |_) | |_| | |_| | | |  
 /_/   \_\____/ \___/ \___/  |_|  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
*/

@import 'vars';

.about-container {
  float: left;
  width: 100%;
  border-bottom: 1px dotted $light-gray;
  background-color: $white;
  padding-bottom: 2em;

  .about-container-left {
    float: left;
    width: 400px;
    text-align: center;

    @include mq(lg) {
      width: 350px;
    }

    @include mq(md) {
      width: 280px;
    }

    @include mq(sm) {
      display: none;
    }

    .about-container-button {
      margin-top: 135px;

      @include mq(lg) {

      }

      @include mq(md) {
  
      }

      @include mq(sm) {
    
      }
    }
  }

  .about-container-right {
    float: left;
    width: calc(100% - 400px);
    padding: 2em 7em 1em 1em;
    max-width: 1300px;

    @include mq(lg) {
      width: calc(100% - 350px);
      padding: 2em 5em 0em 2em;
    } 

    @include mq(md) {
      width: calc(100% - 280px);
      padding: 2em 3em 2em 2em;
    } 

    @include mq(sm) {
      width: 100%;
      padding: 4em 2em 1em 2em;
    }

    h2 {
      text-transform: uppercase;
      font-size: 2rem;
      font-family: $font-2;
      font-weight: 600;

      @include mq(sm) {
        font-size: 1.7rem;
      }
    }

    .bodytext {
      font-size: 1.2rem;
      line-height: 1.7rem;

      @include mq(md) {
        font-size: 1rem;
        line-height: 1.3rem;
      }

      @include mq(sm) {
        font-size: 1rem;
        line-height: 1.3rem;
      }
    }
  }
}