/*
   ____ _     ___ _____ _   _ _____ ____  
  / ___| |   |_ _| ____| \ | |_   _/ ___| 
 | |   | |    | ||  _| |  \| | | | \___ \ 
 | |___| |___ | || |___| |\  | | |  ___) |
  \____|_____|___|_____|_| \_| |_| |____/ 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
*/

@import 'vars';

.clients-header {
  color: $white;
  margin-left: 5%;
  padding: 3em 0em 2em 0em;
  position: relative;
  z-index: 51;

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: $font-2;
    font-weight: 600;

    @include mq(sm) {
      font-size: 1.7rem;
    }
  }
}

.clients-container {
  float: left;
  background-color: $color-primary;
  padding: 0em 0em 5em 0em;

  @include mq (lg) {
  }

  @include mq (md) {
  }

  @include mq (sm) {
  }

  .clients-container-inside {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .client-logo {
      float: left;
      border: 1px solid $white;
      padding: 20px;
      margin: 10px;
      width: calc(25% - 20px);

      &:hover {
        border: 1px solid $white;
        background-color: darken($color-primary, 10%);
      }

      @include mq (lg) {
        padding: 20px;
        margin: 10px;
        width: calc(33.333% - 20px);
      }

      @include mq (md) {
        padding: 20px;
        margin: 10px;
        width: calc(50% - 20px);
      }

      @include mq (sm) {
        clear: both;
        padding: 20px;
        margin: 10px 0px 10px 0px;
        width: 100%;
      }
    }
  }
}