/*
   ___  _   _ ____   __        _____  ____  _  __
  / _ \| | | |  _ \  \ \      / / _ \|  _ \| |/ /
 | | | | | | | |_) |  \ \ /\ / / | | | |_) | ' / 
 | |_| | |_| |  _ <    \ V  V /| |_| |  _ <| . \ 
  \___/ \___/|_| \_\    \_/\_/  \___/|_| \_\_|\_\
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
*/

@import 'vars';

.ourwork-container {
  float: left;
  width: 100%;
  background-color: $black;
  padding: 3em;
  
  .image {
    width: 100%;
  }
}

.ourwork-header {
  float: left;
  width: 100%;
  background-color: $black;
  color: $white;
  width: 90%;
  margin-left: 3%;
  padding: 3em 0em 2em 0em;

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: $font-2;
    font-weight: 600;
    color: $white;

    @include mq(sm) {
      font-size: 1.7rem;
    }
  }

  .bodytext {
  }
}

.masonry-container {
  width: 94%;
  height: auto;
  padding-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  background-color: $black;
  text-align: center;

  @include mq (md) {
    width: 97%;
  }

  @include mq (sm) {
    width: 97%;
  }
}

.masonry {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;  
  color: none;
  background-color: $black;
  overflow-x: hidden;

  .item {
    width: 33.3%;
    height: auto;
    background-color: $white;
    padding: 2em 2em 2em 2em;
    border: 1px solid #dddddd;
    display: inline;

    @include mq(lg) {
      width: 33.3%;
    }

    @include mq(md) {
      width: 50%;
    }

    @include mq(sm) {
      width: 100%;
    }

    h3 {
      float: left;
      width: 90%;
      @include font($font-2, normal, 1.5rem, 200);
      line-height: 1.6rem;
      text-align: left;

      @include mq(md) {
        font-size: 1.2rem;
      }

      @include mq(sm) {
        font-size: 1.2rem;
      }
    }

    h4 {
      float: left;
      width: 90%;
      margin-top: -5px;
      @include font($font-1, normal, .9rem, 200);
      color: $color-primary;
      line-height: 1.4rem;
      text-align: left;

      @include mq(md) {
        font-size: .8rem;
      }

      @include mq(sm) {
        font-size: .8rem;
      }
    }

    h5 {
      float: left;
      width: 90%;
      @include font($font-1, normal, .75rem, 300);
      color: $light-gray;
      line-height: 1.4rem;
      text-align: left;

      @include mq(md) {
        font-size: .75rem;
      }

      @include mq(sm) {
        font-size: .75rem;
      }
    }

    a {
      font-size: .8rem;
      text-decoration: none; 
    }

    .buttons {
      float: left;
      width: 100%;
      text-align: left;

      @include mq(sm) {
      }
    }

    .image {
      padding: 20px;
    }
  }
}