/*
  ____ _____ ____      _  _____ _____ ______   __
 / ___|_   _|  _ \    / \|_   _| ____/ ___\ \ / /
 \___ \ | | | |_) |  / _ \ | | |  _|| |  _ \ V / 
  ___) || | |  _ <  / ___ \| | | |__| |_| | | |  
 |____/ |_| |_| \_\/_/   \_\_| |_____\____| |_|  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
*/

@import 'vars';

.strategy-container {
  @include flex();
  padding-bottom: 1em;
  background-color: $white;
}

.strategy-header {
  margin-top: 3em;
  margin-left: 5%;
  background-color: $white;

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: $font-2;
    font-weight: 600;

    @include mq(sm) {
      font-size: 1.7rem;
    }
  }
}

.strategy-container-inside {
  width: 90%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $white;
}

.strategy-box-define {
  float: left;
  width: calc(33.3% - 1.2em);
  min-height: 670px;
  border: 1px solid $light-gray;
  padding: 3.1em;
  margin-right: 1.2em;

  @include mq(xl) {
    min-height: 650px;
  }

  @include mq(lg) {
    min-height: 670px;
  }

  @include mq(md) {

  }

  @include mq(sm) {
    width: 100%;
    min-height: 0px;
    margin-left: 0em;
    padding: 3em 2em 3em 2em;
    margin-bottom: 2em;
  }

  h2 {
    width: 100%;
    margin: 1em 0em .6em 0em;
    @include font($font-2, normal, 2.6rem, 200);
    color: $color-primary;
  }

  p.bodytext {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: $font-1;
  }

  img {
    max-width: 290px;
  }
}

.strategy-box-design {
  float: left;
  width: 33.3%;
  min-height: 675px;
  border: 1px solid $light-gray;
  padding: 3.1em;

  @include mq(xl) {
    min-height: 650px;
  }

  @include mq(lg) {
    min-height: 680px;
  }

  @include mq(md) {

  }

  @include mq(sm) {
    width: 100%;
    min-height: 0px;
    margin-bottom: 2em;
    margin-left: 0em;
    padding: 3em 2em 3em 2em;
  }

  h2 {
    width: 100%;
    margin: 1em 0em .6em 0em;
    @include font($font-2, normal, 2.6rem, 200);
    color: $color-primary;
  }

  p.bodytext {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: $font-1;
  }

  img {
    max-width: 290px;
  }
}

.strategy-box-develop {
  float: left;
  width: calc(33.3% - 1.2em);
  min-height: 670px;
  border: 1px solid $light-gray;
  padding: 3.1em;
  margin-left: 1.2em;

  @include mq(xl) {
    min-height: 650px;
  }

  @include mq(lg) {
    min-height: 680px;
  }

  @include mq(md) {

  }

  @include mq(sm) {
    width: 100%;
    min-height: 0px;
    margin-left: 0em;
    padding: 3em 2em 3em 2em;
  }

  h2 {
    width: 100%;
    margin: 1em 0em .6em 0em;
    @include font($font-2, normal, 2.6rem, 200);
    color: $color-primary;
  }

  p.bodytext {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: $font-1;
  }

  img {
    max-width: 360px;

    @include mq (sm) {
      max-width: 160px;
    }
  }
}