/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                                                                                                                                                                                                                                                                                                                                                                                                                                    
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,100,500,500italic,700);

// Global Color Variables
$none:              transparent;
$white:             #ffffff;
$off-white:         #f4f4f4;
$xlight-gray:       #dedede;
$light-gray:        #bcbcbc;
$medium-gray:       #777777;
$dark-gray:         #444444;
$black:             #000000;

$color-primary: #c01e23;
$color-secondary: orange;


// Global Font Variables

$font-1: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-2: 'Roboto', sans-serif;
$font-3: "Times New Roman", Times, serif;
$font-4: "Courier New", Courier, monospace;


// Global Mixins

@mixin font($font, $style: normal, $size: 1rem, $weight: $font-weight-normal) {
  font-family: $font, Helvetica, Arial, sans-serif;
  font-style:  $style;
  font-weight: $weight;
  font-size: $size;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
}


// Media Mixin Query Variables

// small range (0px --> 640px) ==> Good for mobile devices
$sm-start:   0em;         
$sm-end:     40em;

// medium range (641px --> 1024px) ==> Good for tablet devices
$md-start:  40.063em;
$md-end:    64em;

// large range (1025px --> 1440px) ==> Good for portable & laptop devices
$lg-start:   64.063em;
$lg-end:     90em;

// xlarge range (1441px --> 1992px)  ==> Good for large screens & desktop
$xl-start:  90.063em;
$xl-end:    124em;

// jumbo range (1993px --> up)  ==> Good for everything above large screens & desktop
$jumbo-start:  124.063em;


@mixin mq($query){

    @if $query == sm {
        @media only screen and (max-width: $sm-end) { @content; }
    }

    @if $query == md {
        @media only screen and (min-width: $md-start) and (max-width: $md-end) { @content; }
    }

    @if $query == lg {
        @media only screen and (min-width: $lg-start) and (max-width: $lg-end) { @content; }
    }

    @if $query == xl {
        @media only screen and (min-width: $xl-start) and (max-width: $xl-end) { @content; }
    }

    @if $query == jumbo {
        @media only screen and (min-width: $jumbo-start) { @content; }
    } 
}

